# Activity: Modifying & Replacing Values

## Introduction

In this activity you will practice modifying and replacing values in a DataFrame using the various method that Pandas has to offer.
This activity will cover the following, not necessarily in this order:
- Checking for anomalous values
- Using `.isnumeric()`
- Using `min()` and `max()` methods
- Using `.loc[]` to replace values
- Using `isnull()` and `notnull()` methods

In [9]:
url="https://raw.githubusercontent.com/ddaeducation/datanalytics/main/employee_data.csv"

#### Question 1

Create a `DataFrame` called `df` from the given CSV file `employee_data.csv`, and then create a mask called `valid_names` that checks the `Name` column for any non-numeric values.

In [37]:
import pandas as pd

# Your code here
df = pd.read_csv('employee_data.csv')
df
# your code here
valid_names = df['Name'].astype(str).str.isnumeric() == False
valid_names

0      True
1      True
2      True
3      True
4      True
      ...
78    False
79    False
80    False
81    False
82    False
Name: Name, Length: 83, dtype: bool

In [21]:
# Question 1 Grading Checks

assert isinstance(df, pd.DataFrame), 'Have you created a DataFrame named df?'
assert isinstance(valid_names, pd.Series), 'Have you created a Series named valid_names?'

#### Question 2

Using the original `DataFrame` `df`, create a mask called `unknown_position` that checks the `Position` column for any values that are equal to the string `Unknown`. Then, replace all such values with `Engineer`.

In [43]:
# Your code here
unknown_position = df['Position'] == 'Unknown'
unknown_position
# your code here
df.loc[unknown_position, 'Position'] = 'Engineer'
df

                Name  Years of Employment  Weeks of Vacation  Position
0   Jennifer Jackson                    9                4.0  Engineer
1    Michael Johnson                    9                6.0   Analyst
2         Robert Lee                   13                3.0  Engineer
3        Linda Jones                    3                6.0   Manager
4       Karen Thomas                   14                2.0    Intern
..               ...                  ...                ...       ...
78                 1                    0               49.0  Engineer
79                 1                    0               47.0  Engineer
80                 1                   -5               46.0  Engineer
81                 1                   -4               52.0  Engineer
82                 1                    0               48.0  Engineer

[83 rows x 4 columns]

In [45]:
# Question 2 Grading Checks

assert isinstance(unknown_position, pd.Series), 'Have you created a Series named unknown_position?'

#### Question 3

Using the original `DataFrame` `df`, create a mask called `invalid_vacation` that checks the `Weeks of Vacation` column for any values that are null or missing. Then, use that mask to assign the value 0 to them.

In [77]:
# Your code here
invalid_vacation = df['Weeks of Vacation'].isnull()
# your code here
df.loc[invalid_vacation, 'Weeks of Vacation'] = 0

np.int64(0)

In [81]:
# Question 3 Grading Checks

assert isinstance(invalid_vacation, pd.Series), 'Have you created a Series named invalid_vacation?'